{% extends 'base.html.twig' %}

{% block title %}New Following{% endblock %}

{% block body %}
    <h1>Create new Following</h1>

    {{ include('following/_form.html.twig') }}

    <a href="{{ path('following_index') }}">back to list</a>
{% endblock %}
